[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://hub.fastgit.org/abseil/abseil-cpp.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://hub.fastgit.org/google/benchmark
[submodule "third_party/bloaty"]
	path = third_party/bloaty
	url = https://hub.fastgit.org/google/bloaty.git
[submodule "third_party/boringssl-with-bazel"]
	path = third_party/boringssl-with-bazel
	url = https://hub.fastgit.org/google/boringssl.git
[submodule "third_party/cares/cares"]
	path = third_party/cares/cares
	url = https://hub.fastgit.org/c-ares/c-ares.git
[submodule "third_party/envoy-api"]
	path = third_party/envoy-api
	url = https://hub.fastgit.org/envoyproxy/data-plane-api.git
[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://hub.fastgit.org/googleapis/googleapis.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://hub.fastgit.org/google/googletest.git
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://hub.fastgit.org/libuv/libuv.git
[submodule "third_party/opencensus-proto"]
	path = third_party/opencensus-proto
	url = https://hub.fastgit.org/census-instrumentation/opencensus-proto.git
[submodule "third_party/opentelemetry"]
	path = third_party/opentelemetry
	url = https://hub.fastgit.org/open-telemetry/opentelemetry-proto.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://hub.fastgit.org/protocolbuffers/protobuf.git
[submodule "third_party/protoc-gen-validate"]
	path = third_party/protoc-gen-validate
	url = https://hub.fastgit.org/envoyproxy/protoc-gen-validate.git
[submodule "third_party/re2"]
	path = third_party/re2
	url = https://hub.fastgit.org/google/re2.git
[submodule "third_party/xds"]
	path = third_party/xds
	url = https://hub.fastgit.org/cncf/xds.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://hub.fastgit.org/madler/zlib
	# When using CMake to build, the zlib submodule ends up with a
	# generated file that makes Git consider the submodule dirty. This
	# state can be ignored for day-to-day development on gRPC.
	ignore = dirty
